.SearchedRow {
  margin-left: 20;
}

.SearchedRow_Posters {
  display: flex;

  flex-shrink: 0;
  flex-grow: 4;
  overflow-y: hidden;
  overflow-x: scroll;
  padding: 20px;
}

.SearchedRow_Poster {
  object-fit: contain;
  width: 100%;
  max-height: 250px;
  margin-right: 10px;
  transition: transform 450ms;
}

.SearchedRow_Poster:hover {
  transform: scale(1.08);
}
